<%= form_with(model: @poem, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= @poem.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @poem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="poem_content">
    <%= form.label :new_tweet %><br>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "Tweet一覧画面にもどる", poems_path %>